/* Colors, Fonts, ETC */
:root {

}

/* Toggle between colors pallets to match the coresponding season a play on dark mode */
.summer {
  background-color: #236e96;
  color: #15b2d3
}

.fall {
  background-color: #540b0e;
  color: #9e2a2b
}

.winter {
  background-color: #32394f;
  color: #757ca3
}

.spring {
  background-color: #113e20;
  color: #cce494
}

* {
  box-sizing: border-box;
  /* outline: 1px solid lime !important; */
  /* background: rgb(0 100 0 / 0.01) !important; */
  margin: 0%;
}
body {
    text-align: center;
}

nav {
  position: fixed;
  top: 0;
  justify-content: space-evenly;
  width: 100%;
  margin: 10px 10px 10px 10px;
  background-image: linear-gradient(180deg, 
  #d4b2f6, 
  #fa48ab);
}

nav ul {
    display: flex;
    padding: 0;
  }
  
  nav li {
    flex: auto ;
    list-style: none;
    /* padding-bottom: 20px; */
    padding: 10px;
  }

  i {
    color: #a4d8f4;
  }
  
  header {
    background-color: black;
  }

  h1 {
    color: aliceblue;
    /* padding: 10px; */
    margin: 0;
  }

  html {
    margin: 0;
  }

  /* Title on homescreen */
  html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    background: #000;
  }
  
  h1 {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 10vw;
    font-weight: 900;
    text-decoration: none;
    color: white;
    display: inline-block;
    background-size: 120% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    background-image: linear-gradient(180deg, 
    #a4d8f4, 
    #fa48ab);
    animation: .8s shake infinite alternate;
  }
  
  @keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
  }
  
  
